node_modules
.git
.gitignore
.env
local-dev-server.js
css
index.html
sitemap.xml
robots.txt
llms.txt
llms-full.txt
manifest.json
favicon-192.png
favicon-512.png
googlef3d38e0c33d9aa00.html
*.mp4
*.png
*.jpg
